.tableSection{
    width: calc(100vw - 100% + 100%);
    color: white;
    display: inline-flex;
    flex-direction: row;
    font-size: 38px;
}
.table{
    width: calc((100vw - (100vw - 100%))/2);
    table-layout: fixed;
    height: fit-content;
}
.tableHead{
    font-size: 38px;
    font-weight: 700;
    width: calc(100vw - (100vw - 100%));
    background-color: white;
    color: #375166;
}
.tableBody{
    font-size: 38px;
}
.tableRow{
    height: 69px;
    max-height: 69px;
}
.tableRowFinalizada{
    background-color: #fd7e14;
}
.tableRow td{
    padding: 0;
    max-height: 69px;
    overflow: hidden;
}
.tableCellHora{
    font-size: 40px;
    width: 120px;
    text-align: center;
}
.tableCellSala{
    width: 70px;
    text-align: center;
}
.tableCellSalaIndiv{
    font-weight: 700;
    font-size: 38px;
}
.tableCellOperador{
    text-align: center;
    font-size: 38px;
}
.tableCellSituacion{
    text-align: center;
    font-size: 18px;
    width: 120px;
}
.tableCellLeg{
    width: 140px;
    text-align: center;
    font-size: 38px;
}
.tableCellTipo{
    text-align: center;
    font-size: 32px;
    width: 350px;
}
.tableCellJuez{
    width: 140px;
    font-size: 32px;
    text-align: center;
}
.tableBody tr:nth-child(odd){
    background-color: #375166;
}
.tableBody tr:nth-child(even){
    background-color: #475f74;
}

.tableCellEstado{
    width: 120px;
}
.DEMORADA{
    background-color: #fd7e14;
    text-align: center;
}
.PROGRAMADA{
    text-align: center;
    background-color: #007bff;
}
.EN_CURSO{
    background-color: #17a2b8;
    text-align: center;
}
.CANCELADA{
    background-color: #dc3545; 
    text-align: center;
}
.CUARTO_INTERMEDIO{
    background-color: #ffc107;
    text-align: center;
}
.FINALIZADA {
    background-color: #28a745;
    text-align: center;
}
.REPROGRAMADA {
    background-color: #6c757d;
}
.tableCellSituacionTitle{
    font-size: 32px;
}