.desplegablesContainer{
    margin-left: 2vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
}
.listasDesplegablesSelector{
    width: 16vw;
    padding: 0 .5vw;
    border-right: solid 1px #2B2B2B;
    height: 100vh;
}
.listIndiv{
    width: 100%;
    height: 40px;
    background-color: #1F1F1F;
    cursor: pointer;
    font-size: 20px;
    border: SOLID 1PX #2B2B2B;
    margin: 2px;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.listIndiv p{
    width: 100%;
    margin: 0;
    text-align: center;
    color: #ffffff;
}
.addToListBlock{
    width: 79vw;
    display: inline-flex;
    flex-direction: column;
}
.inputDesplegableBlock{
    display: inline-flex;
    flex-direction: row;
    width: calc(100% - 5px);
    justify-content: space-around;
    border-bottom: solid 1px #2B2B2B;
    padding: 10px;
}
.inputDesplegable, .addButton{
    padding: 5px;
    border-radius: 2px;
    margin: 0 2px;
    outline: none;
}
.inputDesplegable{
    width: 260px;
    padding: 5px;
}
.addButton{
    background-color: #28a745;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
}
.selectedListBlock{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.inputList{
    width: calc(31% - 10px);
    height: 35px;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #2B2B2B;
    margin: .25%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputList p{
    padding: 0;
    margin: 0;
}
.deleteButton{
    padding: 4px;
    height: 35px;
    cursor: pointer;
    font-weight: 600;
    background-color: #dc3545;
    outline: none;
    border: none;
    border-radius: 2px;
}
.listSelector{
    width: 102.5%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.buttonSelector{
    width: calc(49.2% - 4px);
    background-color: transparent;
    color: #cecece;
    outline: none;
    border: solid 1px #2B2B2B;
    border-radius: 2px;
    font-size: 18px;
    margin: 1%;
    height: 30px;
    cursor: pointer;
}
.buttonSelector:hover, .buttonSelected{
    background-color: #2B2B2B;
    color: #000;
}
.buttonSelector:hover{
    border-color:#cecece20;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}