.menuContainer {
    display: inline-flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 2.4vw;
    width: 95vw;
    border-radius: 4px;
    height: calc(100vh - 10px);
}


.menuSelector {
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    color: #375166;
    margin-top: 50px;
    padding: 20px;
}

.selectorBody {
    display: inline-flex;
    flex-direction: column;
}

.importantDatesTitle {
    text-align: center;
    font-size: 32px;
    margin: 10px 0;
}

.importantDatesSection {
    background-color: #ffffff;
    width: 20vw;
    height: fit-content;
    margin: auto;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    color: #375166;
    margin-top: 50px;
    padding: 20px;
}

.importantDatesSection h3 {
    text-align: center;
}

.importantDatesToday {
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.importantDatesSecondary {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.linkRedirection {
    background-color: #375166;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.inputDate {
    display: inline-flex;
    flex-direction: row;
    background-color: #17a2b8;
    height: 20px;
    margin-bottom: 0;
}

.importantDatesSecondary span {
    margin: 5px;
    width: 50%;
}

.inputDate input::-webkit-inner-spin-button {
    border-radius: 5px;
    border: none;
    -webkit-appearance: none;
}

.linkRedirectionCarga {
    background-color: #17a2b8;
}

.linkRedirection:hover {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.inputDate:hover {
    transform: scale(1);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}