.clockBlock{
    border: solid 1px #2B2B2B;
    border-radius: 2px;
    display: inline-flex;
    flex-direction: row;
    height: 26px;
    padding: 0;
    background-color: #1F1F1F;
    color: #A89E82;
    margin: 0;
}
.clockBlock input{
    background-color: transparent;
    outline: none;
    border: none;
    width: 20px;
    font-size: 14px;
}
.inputSeparator{
    height: 26px;
    margin: 0;
    font-weight: 500;
}
.clockBlock input:focus-visible{
    border: none;
    outline: none;
}
.clockBlock input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}