.container{
    width: 98vw;
    margin: 0; 
    height: calc(100vh - 5px);
    margin-left: 2.3vw;
}
.downloadXLSXcontainer{
    width: 50%;
    height: 30%;
    border: solid 1px #2B2B2B;
    color: #9D9D9D;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.downloadXLSXsubContainer{
    display: inline-flex;
    flex-direction: column;
}
.title{
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.subtitle{
    font-size: 20px;
    margin-left: 5px;
}
.inputxlsx{
    border: solid 1px #2B2B2B;
    height: 30px;
    background-color: transparent;
    color: #FFFFFF;
    margin: 2px 5px;
    font-size: 22px;
    outline: none;
}
.buttonxlsx{
    width: calc(100% - 10px);
    margin: 5px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #CCCCCC;
    background-color: transparent;
    outline: none;
    border-radius: 6px;
    border: none;
}
.buttonxlsx:hover{
    background-color: #2D2E2E;
    color: #FFFFFF;
}