.tableSection{
    width: calc(100vw - (100vw - 100%));
    font-size: 20px;
    font-weight: 700;
    color: white;
    overflow: hidden;
}
.table{
    width: calc(100vw - (100vw - 100%));
    border: none;   
}
.tableHead{
    background-color: white;
    color: #375166;
    position: sticky;
}
.tableBody tr{
    height: 70px;
    line-height: 20px;
}
.tableBody, .tableBody th, .tableBody td{
    border-collapse: collapse;
    margin: 0;
}
.tableBody td{
    padding-left: 20px;
}

.tableBody tr:nth-child(odd){
    background-color: #375166;
}
.tableBody tr:nth-child(even){
    background-color: #475f74;
}

.infoSection{
    width: 100%;
    background-color: white;
    height: 70px;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
}

.clockBlock{
    font-weight: 700;
    font-size: 48px;
    width: 180px;
    padding: 0 40px;
    letter-spacing: 3px;
    display: inline-flex;
    flex-direction: column;
}
.clockDigits{
    margin: auto;
    width: 135px;
}
.corteLogo{
    width: 135px;
    height: auto;
    margin: 0 auto;
}

.infoBlock{
    border: solid #bf906d;
    border-width: 8px 0 8px 0;
    height: 50px;
    width: 100%;
    margin-left: 10px;
    clip-path: polygon(40px 0%, 100% 0%, 100% 100%, 0% 100%);
    display: inline-flex;
    flex-direction: row;
}

.infoBlock img{
    opacity: 0%;
    max-width: 100%;
    clip-path: polygon(40px 0%, 100% 0%, 260px 100%, 0% 100%);
}
.textBlock{
    display: inline-flex;
    flex-direction: column;
    padding: 0 20% 0 20px;
}
.newsTitle{
    opacity: 0%;
    font-size: 32px;
    line-height: 20px;
}
.newsBody{
    opacity: 0%;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}

.infoSectionShow{
    animation: headerExpand 0.5s steps(50);
    animation-fill-mode: both;
    -webkit-animation: headerExpand 0.5s;
    -webkit-animation-fill-mode: both;
}
.infoSectionShow .infoBlock{
    animation: blockExpand 0.6s steps(50);
    animation-fill-mode: both;
    -webkit-animation: blockExpand 0.6s;
    -webkit-animation-fill-mode: both;
}
.infoSectionShow .infoBlock img, .infoSectionShow .infoBlock .newsTitle, .infoSectionShow .infoBlock .newsBody{
    animation: infoAppear 1s steps(50);
    animation-fill-mode: both;
    -webkit-animation: infoAppear 1s;
    -webkit-animation-fill-mode: both;
}
.infoSectionShow .infoBlock .ofijupTitle{
    animation: infodisappear 1s;
    animation-fill-mode: both;
    -webkit-animation: infodisappear 1s;
    -webkit-animation-fill-mode: both;
}

.infoSectionNotShow{
    animation: headerExpand 0.5s steps(50);
    animation-fill-mode: both;
    -webkit-animation: headerExpand2 0.5s;
    -webkit-animation-fill-mode: both;
}
.infoSectionNotShow .infoBlock{
    animation: blockExpand 0.6s steps(50);
    animation-fill-mode: both;
    -webkit-animation: blockExpand2 0.6s;
    -webkit-animation-fill-mode: both;
}
.infoSectionNotShow .infoBlock img, .infoSectionNotShow .infoBlock .newsTitle, .infoSectionNotShow .infoBlock .newsBody{
    animation: infoAppear 1s steps(50);
    animation-fill-mode: both;
    -webkit-animation: infoAppear2 1s;
    -webkit-animation-fill-mode: both;
}
.infoSectionNotShow .infoBlock .ofijupTitle{
    animation: infodisappear 1s;
    animation-fill-mode: both;
    -webkit-animation: infodisappear2 1s;
    -webkit-animation-fill-mode: both;
}


.ofijupTitle{
    position: fixed;
    left: 40%;
    height: 0px;
    z-index: 50;
    font-size: 32px;
    line-height: 0;
}

.DEMORADA{
    background-color: #fd7e14;
    text-align: center;
}
.PROGRAMADA{
    text-align: center;
    background-color: #007bff;
}
.EN_CURSO{
    background-color: #17a2b8;
    text-align: center;
}
.CANCELADA{
    background-color: #dc3545; 
    text-align: center;
}
.CUARTO_INTERMEDIO{
    background-color: #ffc107;
    text-align: center;
}
.FINALIZADA {
    background-color: #28a745;
    text-align: center;
}

@keyframes infoAppear {
    0% {
    }
    50%{
      opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
}
@keyframes headerExpand {
    0%{
        height: 70px;
    }
    100% {
      height: 220px;
    }
}
@keyframes infodisappear {
    0% {
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}
@keyframes blockExpand {
    0% {
        height: 70px;
    }
    100%{
        height: 200px;
    }
}


@keyframes infoAppear2 {
    0% {
        opacity: 100%;
    }
    50%{
      opacity: 0%;
    }
    100%{
      opacity: 0%;
    }
}
@keyframes headerExpand2 {
    0%{
        height: 220px;
    }
    100% {
      height: 70px;
    }
}
@keyframes infodisappear2 {
    0% {
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes blockExpand2 {
    0% {
        height: 200px;
    }
    100%{
        height: 50px;
    }
}