.container {
    display: inline-flex;
    flex-direction: row;
    margin-left: 2vw;
    margin-right: 0;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    height: calc(100vh - 10px);
    margin-bottom: 2px;
    flex-direction: row;
    color: #fff;
    overflow: hidden;
}
.container input{
    font-family: inherit;
}
.listaBlock {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    width: 2vw;
    margin: 0;
    border-right: solid 1px #2B2B2B;
    opacity: 0;
}
.listaBlock:hover{
    animation: appearOnHover .2s both;
}
.listadoBlock{
    overflow-y: scroll;
    overflow-x: hidden;
}
.listadoAudiencias{
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    border-radius: 4px;
    border: solid 1px;
    margin-top: 5px;
    padding: 5px;
    height: 50px;
    width: 95%;
    opacity: .7;
}
.listadoAudiencias:hover{
    opacity: 1;
}
.listadoAudienciasSelected{
    opacity: 1;
}
.block1 {
    width: 75%;
}
.block2 {
    width: 25%;
    height: 100%;
    border-radius: 3px;
    margin: auto;
    flex-direction: column;
    border: 1px solid #fff;
}
.text {
    text-align: center;
    margin: 0;
}
.textEstado {
    font-weight: 400;
}
.textLegajo {
    font-weight: 600;
}
.textHora {
    color: #ffffffd1;
    font-weight: 600;
}
.textoperador {
    font-weight: 500;
}
.buttonEstado{
    border-radius: 2px;
    width: 33%;
    margin-left: .33%;
    outline: none;
    border: none;
    opacity: .1;
}
.DEMORADA{
    border-color: #fd7e14;
    background-color: #fd7d14a0;
}
.PROGRAMADA{
    border-color: #007bff;
    background-color: #007bffa0;
}
.EN_CURSO{
    border-color: #17a2b8;
    background-color: #17a2b8a0;
}
.CANCELADA{
    border-color: #dc3545;
    background-color: #dc3545a0;
}
.CUARTO_INTERMEDIO{
    border-color: #ffc107;
    background-color: #ffc107a0;
}
.FINALIZADA{
    border-color: #28a745;
    background-color: #28a745a0;
}
.REPROGRAMADA{
    border-color: #6c757d;
    background-color: #6c757da0;
}
.RESUELVO{
    border-color: #1F572B;
    background-color: #1F572Ba0;
}
.DEMORADA:hover{
    background-color: #fd7d14e0;
}
.PROGRAMADA:hover{
    background-color: #007bffe0;
}
.EN_CURSO:hover{
    background-color: #17a2b8e0;
}
.CANCELADA:hover{
    background-color: #dc3545e0; 
}
.CUARTO_INTERMEDIO:hover{
    background-color: #ffc107e0;
}
.FINALIZADA:hover{
    background-color: #28a745e0;
}
.REPROGRAMADA:hover{
    background-color: #6c757de0;
}
.condenadoInput{
    background-color: #ffc107a0;
}
.condenadoInput .condenadoimputadoFlag{
    background-color: #ffc107;
}
.imputadoInput .condenadoimputadoFlag{
    background-color: #6c757d; 
}
.condenadoimputadoFlag{
    display: inline-flex;
    visibility: hidden;
    flex-direction: row;
    width: calc(18vw + 6px);
    justify-content: space-around;
    height: 34px;
    position: absolute;
    border-radius: 4px;
    padding: 0;
    animation: onDissapear 2s ;
}
.condenadoimputadoFlag p{
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 22px;
}
.controlChangeStateButtonBlock{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.controlBlock{
    width: 95vw;
    background-color: #1F1F1F;
    display: inline-flex;
    flex-direction: row;
}
.controlBlockLeft{
    width: 36%;
    height: 100%;
    border-right: solid 1px #2B2B2B;
    overflow-y: scroll;
    overflow-x: hidden;
}
.buttonChange{
    border-radius: 2px;
    height: 40px;
    font-weight: 700;
    opacity: .1;
    cursor: pointer;
}
.REINICIAR{
    background-color: #6c757d;
    opacity: 1;
}
.CONTINUAR{
    opacity: 1;
    background-color: #17a2b8;
}
.FINALIZAR{
    opacity: 1;
    background-color: #28a745;
}
.CUARTOINTERMEDIO{
    opacity: 1;
    background-color: #ffc107;
}
.INICIAR{
    opacity: 1;
    background-color: #17a2b8;
}
.CANCELAR{
    opacity: 1;
    background-color: #dc3545;
}
.REPROGRAMAR{
    opacity: 1;
    background-color: #6c757d;
}
.RESUELVOSUB{
    opacity: 1;
    background-color: #1F572B;
}
.audControlTitle{
    text-align: center;
    margin: 10px 0;
}
.inputLeftRow{
    width: calc(100% - 10px);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
}
.inputLeftColumn{
    width: calc(100% - 10px);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.inputLeftNameDRow{
    width: 50%;
    font-size: 20px;
    margin: auto;
    font-weight: 700;
    text-align: center;
}
.inputLeftNameDColumn{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.inputLeftDRow{
    width: 50%;
    text-align: center;
    font-size: 16px;
}
.inputLeftColumn{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
.inputLeft{
    height: 30px;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 0 2px 2px 0;
}
.inputLeft15{
    width: 13.5%;
    font-size: 16px;
}
.inputLeft33{
    width: 31.5%;
}
.inputLeft35{
    width: 33.5%;
}
.inputLeft42{
    width: 40.5%;
}
.inputLeft50{
    width: 48.5%;
}
.inputLeft70{
    width: 68.5%;
}
.inputLeft85{
    width: 83.5%;
}
.inputLeft100{
    width: 98.5%;
}
.inputLeftDelete{
    background-color: #dc3545;
    height: 30px;
    padding: 3px;
    margin: 3px 1px 0 0;
}
.inputLeftSelect{
    border: none;
    height: 30px;
    margin-bottom: 2px;
    padding-top: 4px;
}
.deleteSVG{
    padding: 0;
    width: 80%;
    height: 80%;
}
.guardarButton{
    font-size: 20px;
    background-color: #28a745;
    cursor: pointer;
    position: fixed;
    align-self: flex-end;
    height: 50px;
    width: 23vw;
    font-weight: 700;
    opacity: .9;
}
.guardar{
    display: none;
}
.guardarButton:hover .guardar{
    display: block;
}
.guardarButton:hover .sinGuardar{
    display: none;
}
.guardando{
    display: none;
}
.guardandoButton .guardando{
    display: block;
}
.guardandoButton .guardar, .guardandoButton .sinGuardar, .guardandoButton:hover .guardar{
    display: none;
}
.controlBlockRight{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.textArea{
    font-size: 22px;
    font-family: inherit;
}
.checkDescargaFalta{
    position: fixed;
    border: solid 1px #2B2B2B;
    border-radius: 2px;
    background-color: #1F1F1F;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    justify-content: space-between;
    display: inline-flex;
    flex-direction: column;
    padding: 8px;
}
.buttonDownload2{
    outline: none;
    width: 80%;
    margin: 0 10%;
    padding: 4px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px;
}
.controlBlock button{
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}
.topBlockMinuta{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 4%;
}
.footerSpace{
    width: 100%;
    height: 140px;
}
.insertarModeloBlock{
    width: 80%;
    margin: 0 1%;
    border-radius: 2px;
    border: none;
    outline: none;
}
.buttonDownload{
    width: 20%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 100%;
    margin: 0;
}
.inputModelo{
    width: 75%;
    font-size: 18px;
    padding: 0;
    margin: 1px 2px 1px 0;
}
.insertarButton{
    width: 20%;
    padding: 0;
    font-size: 16px;
    margin: 3px 0 1px 0;
}
.insertarButton:hover, .buttonDownload:hover, .controlBlock button:hover{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.stateBlock{
    position: fixed;
    left: 5vw;
    top: 85vh;
    margin-left: .5vw;
    width: 24vw;
    display: inline-flex;
    flex-direction: column;
}
.stateBlockHovered{
    animation: growOnHover .2s both;
}
.cronoBlock{
    width: 99%;
    margin-left: .33%;
    height: 80px;
    border-radius: 4px;
    background-color: var(--prevColor);
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 10px;
    
}
.cronoBlockPressing {
    animation: gradientPressing 2s both;
    animation-timing-function: ease-in-out;
    background: linear-gradient(to right, var(--newColor), var(--newColor) 50%, var(--prevColor) 55%);
    background-size: 210% 100%;
}
.stateTitle{
    width: 40%;
    text-align: center;
    line-height: 20px;
}
.timeBlock{
    width: 30%;
}
.timeBlock p{
    width: 100%;
    text-align: center;
    line-height: 16px;
}
.stateTitle, .timeSpacer{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}
.timeNumbers{
    font-size: 20px;
}
.navBarBlock{
    width: 100%;
    height: 40px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: solid 1px #2B2B2B;
    margin-top: 6px;
}
.tab{
    vertical-align: middle;
    border: solid 1px #2B2B2B;
    height: 28px;
    padding: 5px 15px;
    color: #9D9D9D;
}
.tab p{
    width: 130px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.selectedTab{
    border-bottom: none;
    border-top: solid 2px #0078D4;
    color: #ffffff;
}


@keyframes gradientPressing {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}

@keyframes onDissapear {
    0% {
        visibility: visible;
    }
    1%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        visibility: none;
    }
}
@keyframes appearOnHover {
    0% {

    }
    100%{
        width: 14vw;
        opacity: 1;
    }
}
@keyframes growOnHover {
    0% {
        left: 5vw;
        width: 24vw;
    }
    100%{
        left: 16.5vw;
        width: 22vw;
    }
}