.container{
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    height: 100vh;
    border-right: solid 1px #2B2B2B;
}
.audienciaListContainer{
    width: 18vw;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #2B2B2B;
}