.container{
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    height: 100vh;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
}
.audienciaListContainer{
    width: 25vw;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-left: auto;
    height: 95vh;
    border-right: solid 1px #2B2B2B;
}
.audienciasListDisplayBlock{
    border-top: solid 1px #2B2B2B;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.audienciasListIndivBlock{
    color: #d7d7d7;
    display: inline-flex;
    flex-direction: row;
    padding: 1px;
    margin-top: 4px;
    width: 24.5vw;
    line-height: 14px;
    cursor: pointer;
}
.fechaSorteoBlock{
    display: inline-flex;
    flex-direction: row;
    padding: 2px;
}
.buttonRaffle{
    margin-left: -1.5vw;
    width: 70%;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 32px;
    margin-top: 2px;
    font-weight: 700;
    cursor: pointer;
}
.raffleContainer{
    position: fixed;
    display: grid;
    top: 6.5vh;
    width: 22vw;
    height: 300px;
    background-color: #1F1F1F;
    border-radius: 2px;
    border: solid 1px #2B2B2B;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'top top' 'left right' 'bottom bottom';
    padding: 10px 1vw;
}
.blockTop{
    display: flex;
    grid-area: top;
    display: inline-flex;
    flex-direction: column;
}
.blockLeft{
    display: flex;
    grid-area: left;
    display: inline-flex;
    overflow-y: scroll;
    flex-direction: column;
    height: 200px;
    border-right: solid 1px #2B2B2B;
}
.blockTop select{
    width: 100%;
    height: 30px;
    border-radius: 2px;
}
.blockRight{
    display: flex;
    grid-area: right;
    display: inline-flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 200px;
}
.blockBottom{
    grid-area: bottom;
    padding: auto;
    width: 100%;
    align-items: center;
    border-top: solid 1px #2B2B2B;
}
.blockBottom button{
    width: 100%;
    height: 30px;
    align-self: center;
    margin: auto;
    border-radius: 2px;
    outline: none;
    border: none;
}
.actuarioListItem{
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
}
.block1{
    width: 3.5vw;
    justify-content: center;
    color: #fff;
}
.block1 svg{
    stroke: #fff;
}
.block2{
    width: 22vw;
}
.legajoTitle{
    font-weight: 700;
    font-size: 20px;
    margin: 4px 0;
}
.tipoTitle{
    margin-top: 8px;
    font-size: 14px;
}
.juezTitle{
    font-size: 12px;
}
.legajoActuarioSpan{
    display: inline-flex;
    width: 95%;
    justify-content: space-between;
    flex-direction: row;
    height: 18px;
}
.actuarioName{
    height: 14px;
    background-color: #d7d7d718;
    padding: 4px;
    border-radius: 4px;
}

.oficioBlockContainer{
    display: inline-flex;
    flex-direction: row;
    width: 78vw;
    height: 100%;
}
.oficioLeftBlockContainer{
    border-right: solid 1px #2B2B2B;
    width: 50%;
    height: 100%;
}
.oficioRightBlockContainer{
    width: 50%;
    padding: 10px;
}
.oficioText{
    color: #d7d7d7;
    font-size: 18px;
}
.controlOficioTitle{
    color: #d7d7d7;
    width: 100%;
    text-align: center;
}
.oficioControlBlock{
    display: inline-flex;
    flex-direction: column;
    border-bottom: solid 1px #2B2B2B;
    padding: 10px;
    width: calc(100% - 20px);
}
.oficioControlTextArea{
    padding: 10px;
    border-radius: 4px;
    background-color: #d7d7d7;
}