.addAudienciaBlock{
    display: inline-flex;
    flex-direction: row;
}
.addAudienciaFormBlock{
    width: 20vw;
}
.audienciaListSection{
    display: inline-flex;
    flex-direction: column;
}
.audienciaListTable{
    display: table;
}
.tableCell{
    display: table-cell;
}
.tableRow{
    display: table-row;
}