.audienciaListSection{
    width: 100vw;
}
.audienciaListTable{
    width: 100vw;
    display: table;
}
.audienciaListTableHead{
    width: 100vw;
    text-align: center;
}
.inputLegajoBlock{
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
}
.addAudienciaRow{
    height: 80px;
    vertical-align: middle;
    padding: auto;
    width: 100%;
    display: table-row;

}

.tableRow{
    display: table-row;
}
.tableCell{
    display: table-cell;
    padding: 0 8px;
}

.addAudienciaRow select, .addAudienciaRow input, .addAudienciaRow button{
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 2px;
    border: none;
    padding: 0;
}
.addAudienciaRow input:focus-visible{
    outline: 2px #dcc635 solid;
}
.inputLegajoBlock{
    min-width: 235px;
    width: fit-content;
}

.inputItemBlock{
    padding: 20px 5px;
    display: table-cell;
}
.inputTipoBlock{
    width: 80px;
}
.inputLegajoBlock input{
    width: 48px;
    padding: 0 6px;
}
.inputLegajoBlock select{
    padding: 0 6px;
}

.inputJuezBlock select{
    width: 100%;
}
.inputSubmitBlock{
    padding: 0 10px 0 8px;
}
.submitButton{
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    outline: none;
    border: none;
    background-color: #007bff;
    color: white;
}

.submitButton:focus-visible{
    outline: 2px #dcc635 solid;
}
.inputError select, .inputError input, .inputAreaError{
    outline: 4px #dc3545 solid;
}

.audienciaListTable{
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.audienciaList{
    height: 80px;
}
.audienciaListTable .audienciaList:nth-child(odd){
    background-color: #475f74;
}
.audienciaListTable .audienciaList:nth-child(even){
    background-color: #375166;
}

.errorMessage{
    position:fixed;
    width: 100%;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    background-color: #dc3545;
    animation: errorMessage 2s;
    animation-fill-mode: both;
    -webkit-animation: errorMessage 2s;
    -webkit-animation-fill-mode: both;
}

.deleteButton{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #dc3545;
}
.deleteButtonBlock{
    padding: 8px;
}

@keyframes errorMessage {
    0% {
        display: none;
    }
    1%{
        display: inline-flex;
    }
    50%{
      opacity: 100%;
    }
    99%{
      opacity: 0%;
    }
    100%{
        display: none;
    }
}