.tableSection{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: white;
    overflow-x: hidden;
}
.table{
    width: 100%;
    border: none;   
}
.tableHead{
    background-color: white;
    color: #375166;
}
.tableBody tr{
    height: 70px;
    line-height: 20px;
}
.tableBody tr:hover{
    height: 70px;
    line-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}
.tableBody, .tableBody th, .tableBody td{
    border-collapse: collapse;
    margin: 0;
}
.tableBody td{
    padding-left: 20px;
}

.tableBody tr:nth-child(odd){
    background-color: #375166;
}
.tableBody tr:nth-child(even){
    background-color: #475f74;
}

.buttonsBlock{
    width: 40%;
    height: 64%;
    margin: auto;
    left: 30%;
    top: 10%;
    position: fixed;
    z-index: 50;
    background-color: #ffffffe3;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
    border-radius: 5px;
}
.stateButton{
    font-size: 24px;
    background-color: #375166;
    color: white;
    height: 15%;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 10px 0;
}
.legajoTitle{
    text-align: center;
    color: #375166;
    font-weight: 700;
    height: 50px;
    margin: 0;
}
.stateButton:active{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.stateButtonFinalizarcuarto{
    background-color: #20c997;
    
}
.stateButtonIniciar{
    background-color: #28a745;
}
.stateButtonSuspender{
    background-color: #fd7e14;
}   
.stateButtonFinalizar{
    background-color: #dc3545;
}
.stateButtonCuarto{
    background-color: #6c757d;
}
.buttonClicked{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.stateButtonCerrar{
    background-color: #fff;
    color: #000;
}
.changeBlock{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.stateButtonChange{
    background-color: #6c757d;
}
.salaSelector{
    height: 100%;
    font-size: 24px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 32px;
    text-align: center;
}

.DEMORADA{
    background-color: #fd7e14;
    text-align: center;
}
.PROGRAMADA{
    text-align: center;
    background-color: #007bff;
}
.EN_CURSO{
    background-color: #17a2b8;
    text-align: center;
}
.CANCELADA{
    background-color: #dc3545; 
    text-align: center;
}
.CUARTO_INTERMEDIO{
    background-color: #ffc107;
    text-align: center;
}
.FINALIZADA {
    background-color: #28a745;
    text-align: center;
}
.stateButtonResuelvo{
    background-color: #dcc635;
}
.stateButtonSubido{
    opacity: 0.1;
}
.editButtonNot{
    background-color: #6c757d;
}
@media (max-width: 900px) {
    .buttonsBlock{
        height: 80%;
        width: 80%;
        left: 5%;
        top: 5%;
    }
    .tableBody td{
        padding-left: 10px;
    }
}
@media (max-width: 800px) {
    .tableSection{
        font-size: 18px;
    }
}
@media (max-width: 720px) {
    .tableSection{
        font-size: 16px;
    }
    .tableBody td{
        padding-left: 5px;
    }
}
@media (max-width: 500px) {
    .tableSection{
        font-size: 12px;
    }
    .tableBody td{
        padding-left: 2px;
    }
}