.audienciaListSection{
    width: 100vw;
}
.audienciaListTable{
    width: 100%;
    display: table;
    table-layout: fixed;
}
.audienciaListTableHead{
    width: 100%;
    text-align: center;
}
.inputLegajoBlock{
    flex-direction: row;
}
.addAudienciaRow{
    height: 50px;
    vertical-align: middle;
    padding: auto;
    width: 100%;
    display: table-row;
}

.tableRow{
    display: table-row;
}
.tableCell{
    display: table-cell;
    padding: 0 8px;
    overflow: hidden;
}

.addAudienciaRow select, .addAudienciaRow input, .addAudienciaRow button{
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 2px;
    border: none;
    padding: 0;
}
.addAudienciaRow input:focus-visible{
    outline: 2px #dcc635 solid;
}
.inputItemBlock{
    padding: 20px 5px;
}
.inputSubmitBlock{
    padding: 0 10px 0 8px;
}
.submitButton{
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    outline: none;
    border: none;
    background-color: #007bff;
    color: white;
}

.submitButton:focus-visible{
    outline: 2px #dcc635 solid;
}
.inputError select, .inputError input, .inputAreaError{
    outline: 4px #dc3545 solid;
}
.audienciaListTable{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.audienciaList{
    height: 50px;
}
.audienciaListTable .audienciaList:nth-child(odd){
    background-color: #475f74;
}
.audienciaListTable .audienciaList:nth-child(even){
    background-color: #375166;
}

.errorMessage{
    position:fixed;
    width: 100%;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    background-color: #dc3545;
    animation: errorMessage 2s;
    animation-fill-mode: both;
    -webkit-animation: errorMessage 2s;
    -webkit-animation-fill-mode: both;
}
.tableCellOP{
    width: 60px;
}
.tableCellOP input{
    width: 90%;
}
.tableCellHora{
    align-items: center;
    text-align: center;
    width: 100px;
}
.tableCellHora input{
    width: 90%;
}
.tableCellSala{
    width: 80px;
}
.tableCellLegajo{
    width: 250px;
    max-width: 250px;
}
.tableCellAction{
    display:table-cell;
    overflow: hidden;
    width: 150px;
}
.inputTipoBlock option{
    font-size: 20px;
}
.inputLegajoBlock input{
    width: 48px;
    padding: 0 6px;
}
.inputLegajoBlock select{
    padding: 4px 6px;
}
.deleteButton{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #dc3545;
}
.deleteButtonBlock{
    padding: 4px;
    height: 100%;
    width: 80px;
}
.juecesButtonBlock{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
}
.colegiadoButton{
    background-color: #dcc635;
    width: 60px;
    padding: 10px;
    font-weight: 700;
}
.uniSelect{
    width: calc(100% - 60px);
}
.juecesSelect{
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}
.tableCellJuez{
    width: 300px;
    max-width: 300px;
    flex-direction: column;
}
.tableCellJuezList{
    font-size: 18px;
}
.tableCellTipo{
    width: 32%;
}
.tableCellTipo option{
    font-size: 14px;
}
.editButton{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #17a2b8;
    margin-top: 2px;
}
.editButtonNot{
    opacity: .3;
}

.inputSituacion{
    padding: 0 5px;
    width: 95%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    height: 40px;
}
.tableCellSituacion{
    width: 180px;
    max-width: 180px;
    padding: 0 10px;
}
.tableCellSituacionIndiv{
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}
.inputSituacionEdit{
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    max-height: 50px;
}
.inputSituacionEdit::placeholder{
    color: #fff;
    font-size: 20px;
}

.selectSalaEdit{
    appearance: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
    color: #fff;
}
.selectSalaEdit option{
    color: black;
}
.tableCellJuezN select{
    appearance: none;
    font-size: 22px;
    background-color: transparent;
    border: white solid 1px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    padding: 5px;
}
.tableCellJuezN option{
    color: #000;
}
.deleteButtonClicked{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.toDelete{
    color: #dc3545;
}
.toDelete span .inputResultadoEdit::placeholder, .toDelete span .inputSituacionEdit::placeholder{
    color: #dc3545;
}
.operadorInput{
    width: 80px;
    height: 30px;
}
.operadorInput{
    border: solid white 1px;
}
.tableCellOPIndiv{
    padding: 5px;
}

@keyframes errorMessage {
    0% {
        display: none;
    }
    1%{
        display: inline-flex;
    }
    50%{
      opacity: 100%;
    }
    99%{
      opacity: 0%;
    }
    100%{
        display: none;
    }
}
@media (max-width: 1550px) {
    .tableCellJuez{
        width: 200px;
        max-width: 200px;
        flex-direction: column;
    }
    .tableCellSituacion{
        width: 120px;
    }
    .tableCellSituacion input{
        width: 120px;
    }
    .tableCellLegajo{
        width: 150px;
    }
}