.viewBlock{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    font-family: inherit;
    color: #fff;
    height: 99.5vh;
    margin-left: 2.5%;
}
.addJuicioSection{
    width: 20%;
    height: 100%;
    border: solid #303030;
    border-width: 0 1px 0 0;
    display: inline-flex;
    flex-direction: column;
}
.cargaLabel{
    text-align: center;
}

.multiInput{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.multiJuicioInput, .juicioInput{
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border: #303030 solid 1px;
    font-size: 16px;
    border-radius: 2px;
    text-align: center;
    padding: 2px;
}
.multiJuicioInput{
    width: 29%;
    margin: 0 1% 0 1%;
}
.multiJuicioInputWrong, .juicioInputWrong{
    border-color: #8a2222;
}
.juicioButton{
    width: 40%;
    margin: 10px;
    height: 30px;
    border-radius: 2px;
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border: #303030 solid 1px;
    cursor: pointer;
}
.juicioInput{
    margin: 0 10px 5px 10px;
}
.erroresList{
    background-color: #8a2222;
    margin: 16px;
    border-radius: 4px;
}
.bloqueListSection{
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border: solid #303030;
    border-width: 0 1px 0 0;
}