.viewBlock{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    font-family: inherit;
    color: #fff;
    height: 99.5vh;
    margin-left: 2.5%;
}
.addJuicioSection{
    width: 20%;
    height: 100%;
    border: solid #303030;
    border-width: 0 1px 0 0;
    display: inline-flex;
    flex-direction: column;
}
.cargaLabel{
    text-align: center;
}

.multiInput{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.multiJuicioInput, .juicioInput{
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border: #303030 solid 1px;
    font-size: 16px;
    border-radius: 2px;
    text-align: center;
    padding: 2px;
}
.multiJuicioInput{
    width: 29%;
    margin: 0 1% 0 1%;
}
.multiJuicioInputWrong, .juicioInputWrong{
    border-color: #8a2222;
}
.juicioButton{
    width: 40%;
    margin: 10px;
    height: 30px;
    border-radius: 2px;
    background-color: #2B2B2B;
    color: #fff;
    outline: none;
    border: #303030 solid 1px;
    cursor: pointer;
}
.juicioInput{
    margin: 0 10px 5px 10px;
}
.erroresList{
    background-color: #8a2222;
    margin: 16px;
    border-radius: 4px;
}
.bloqueListSection{
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border: solid #303030;
    border-width: 0 1px 0 0;
}
.timeSelectorBar{
    height: 40px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border: solid #303030;
    border-width: 0 0 1px 0;
}
.bloqueJuicioSection{
    width: calc(100% - 28px);
    height: fit-content;
    padding: 6px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border: solid #303030 1px;
    border-radius: 4px;
    margin: 10px;
}
.timeSelectorLabel{
    height: 30px;
    margin: 5px;
    font-size: large;
    width: 40%;
}
.timeSelector{
    background-color: #303030;
    color: #fff;
    margin: 2px;
    height: calc(100% - 8px);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.lineSeparator{
    font-size: 20px;
    margin: 0 10px;
}
.inputDateTime, .inputDateTimeDouble{
    background-color: #2B2B2B;
    border-radius: 4px;
    font-size: 18px;
    outline: none;
    margin: 4px;
    border: none;
    padding: 0 8px;
    text-align: center;
    color: #cecece;
}
.inputDateTime{
    width: 28px;
}
.inputDateTimeDouble{
    width: 56px;
}
.dateTimeJuicio{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.horizontalSeparator{
    width: 90%;
    margin: 8px 5%;
    border: #cecece solid;
    border-width: 1px 0 0 0;
    height: 1px;
    height: 0;
}
.controlJuicio{
    display: inline-flex;
    flex-direction: row;
}
.testigosList{
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    border: #838383 solid;
    border-width: 0 1px 0 0;
}
.testigoIndiv{
    width: 100%;
    height: fit-content;
    border: #363636 solid;
    border-width: 1px 0 0 0;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: row;
}
.testigoIndiv:nth-child(1){
    border-width: 0;
}
.testigoIndiv p{
    margin: 4px 0;
}
.completado{
    color: #28a745;
}
.noCompletado{
    color: #ffc107;
}
.estadoBlock{
    width: 50%;
}
.estadoBlock p{
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 4px 0;
}
.bloqueTypeSelector{
    background-color: #363636;
    padding: 2px;
    color: #cecece;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}