.ql-container{
  border: #2B2B2B 1px solid !important;
  border-left: none !important;
  border-right: none !important;
  outline: none;
  height: calc(100vh - 120px);
  overflow: auto;
}
.ql-toolbar{
  border: none !important;
  outline: none;
}
.ql-editor {
    font-size: 20px;
    border: none !important;
    font-family: "Arial", sans-serif;
}
.conversionButtonBlock{
  position: fixed;
  width: 60%;
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
}
.conversionButtonBlock button{
  height: 40px;
  border-radius: 4px;
  width: 40px;
  border: solid 1px #ffffff25;
  background-color: transparent;
  margin-top: 1px;
  color: #fff;
}